*.sc
logs
target
tmp
.history
dist
/.idea
/.idea/
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
artifacts
.DS_Store
/bin/
.cache
sample*.json
*.swp
conf/crts
*.crt
sample*.json
projectFilesBackup
.ensime*
ldap.pass
nohup.out
test.sh
.tags
/.sbtopts
/.token
/.metals/
public/version.json
*.sc
node_modules
